USE [master]
GO
/****** Object:  Database [SaleSync]    Script Date: 31/03/2026 5:21:57 pm ******/
CREATE DATABASE [SaleSync]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaleSync', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SaleSync.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaleSync_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SaleSync_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaleSync].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaleSync]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](100) NOT NULL,
	[contact_number] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_logs]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[action_type] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[remarks] [varchar](255) NULL,
	[log_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[cost_price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[expected_date] [date] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[order_status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[supplier_id] [int] NULL,
	[product_name] [varchar](150) NOT NULL,
	[barcode] [varchar](100) NULL,
	[sku] [varchar](50) NULL,
	[description] [varchar](255) NULL,
	[cost_price] [decimal](10, 2) NOT NULL,
	[selling_price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[reorder_level] [int] NOT NULL,
	[unit] [varchar](30) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_items]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_items](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[sale_date] [datetime] NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NOT NULL,
	[tax] [decimal](10, 2) NOT NULL,
	[final_amount] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](20) NOT NULL,
	[amount_paid] [decimal](10, 2) NOT NULL,
	[change_amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_reports]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[generated_by] [int] NOT NULL,
	[report_date] [datetime] NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[total_sales] [decimal](10, 2) NOT NULL,
	[total_transactions] [int] NOT NULL,
	[notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [varchar](100) NOT NULL,
	[contact_person] [varchar](100) NULL,
	[contact_number] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 31/03/2026 5:21:57 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[contact_number] [varchar](20) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [description]) VALUES (1, N'Coffee', NULL)
INSERT [dbo].[categories] ([category_id], [category_name], [description]) VALUES (2, N'Milktea', NULL)
INSERT [dbo].[categories] ([category_id], [category_name], [description]) VALUES (3, N'Fruit Tea', NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([payment_id], [payment_name]) VALUES (1, N'Cash')
INSERT [dbo].[payment_methods] ([payment_id], [payment_name]) VALUES (2, N'GCash')
INSERT [dbo].[payment_methods] ([payment_id], [payment_name]) VALUES (3, N'Card')
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [category_id], [supplier_id], [product_name], [barcode], [sku], [description], [cost_price], [selling_price], [stock_quantity], [reorder_level], [unit], [status], [created_at], [updated_at]) VALUES (17, 1, NULL, N'Americano - Small', N'100001', N'COF001', NULL, CAST(0.00 AS Decimal(10, 2)), CAST(79.00 AS Decimal(10, 2)), 100, 0, NULL, N'active', CAST(N'2026-03-27T18:51:22.460' AS DateTime), CAST(N'2026-03-27T18:51:22.460' AS DateTime))
INSERT [dbo].[products] ([product_id], [category_id], [supplier_id], [product_name], [barcode], [sku], [description], [cost_price], [selling_price], [stock_quantity], [reorder_level], [unit], [status], [created_at], [updated_at]) VALUES (18, 1, NULL, N'Americano - Large', N'100002', N'COF002', NULL, CAST(0.00 AS Decimal(10, 2)), CAST(89.00 AS Decimal(10, 2)), 100, 0, NULL, N'active', CAST(N'2026-03-27T18:51:22.460' AS DateTime), CAST(N'2026-03-27T18:51:22.460' AS DateTime))
INSERT [dbo].[products] ([product_id], [category_id], [supplier_id], [product_name], [barcode], [sku], [description], [cost_price], [selling_price], [stock_quantity], [reorder_level], [unit], [status], [created_at], [updated_at]) VALUES (19, 1, NULL, N'Cappuccino - Small', N'100003', N'COF003', NULL, CAST(0.00 AS Decimal(10, 2)), CAST(79.00 AS Decimal(10, 2)), 100, 0, NULL, N'active', CAST(N'2026-03-27T18:51:22.460' AS DateTime), CAST(N'2026-03-27T18:51:22.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'Cashier')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [role_id], [full_name], [username], [password_hash], [email], [contact_number], [status], [created_at]) VALUES (1, 1, N'System Admin', N'admin', N'admin123', N'admin@email.com', N'09123456789', N'active', CAST(N'2026-03-27T14:38:31.843' AS DateTime))
INSERT [dbo].[users] ([user_id], [role_id], [full_name], [username], [password_hash], [email], [contact_number], [status], [created_at]) VALUES (2, 2, N'Cashier One', N'cashier1', N'cashier123', N'cashier@email.com', N'09987654321', N'active', CAST(N'2026-03-27T14:38:31.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__5189E255C0EF6219]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__C16E36F8AB4F5722]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__DDDF4BE7AA638777]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1C85C2413]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616404DA4CD3]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5721B64D529]    Script Date: 31/03/2026 5:21:58 pm ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory_logs] ADD  DEFAULT (getdate()) FOR [log_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0.00)) FOR [total_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [order_status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0.00)) FOR [cost_price]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0.00)) FOR [selling_price]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [reorder_level]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT (getdate()) FOR [sale_date]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [total_amount]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [discount]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [tax]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [final_amount]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [amount_paid]
GO
ALTER TABLE [dbo].[sales] ADD  DEFAULT ((0.00)) FOR [change_amount]
GO
ALTER TABLE [dbo].[sales_reports] ADD  DEFAULT (getdate()) FOR [report_date]
GO
ALTER TABLE [dbo].[sales_reports] ADD  DEFAULT ((0.00)) FOR [total_sales]
GO
ALTER TABLE [dbo].[sales_reports] ADD  DEFAULT ((0)) FOR [total_transactions]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[sale_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[sale_items]  WITH CHECK ADD FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([sale_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sales_reports]  WITH CHECK ADD FOREIGN KEY([generated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD CHECK  (([action_type]='adjustment' OR [action_type]='order_received' OR [action_type]='sale' OR [action_type]='stock_out' OR [action_type]='stock_in'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_status]='cancelled' OR [order_status]='received' OR [order_status]='approved' OR [order_status]='pending'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD CHECK  (([payment_method]='maya' OR [payment_method]='gcash' OR [payment_method]='card' OR [payment_method]='cash'))
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
USE [master]
GO
